* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

.contenedor {
  width: 60rem;
  margin: 0 auto;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

.nav {
  display: inline-block;
  width: 100%;
  text-align: right;
}
.nav .nav__items {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  text-transform: uppercase;
}
.nav .nav__items .nav__item a {
  text-decoration: none;
  margin-right: 1rem;
}

.group input {
  display: inline-block;
  border-width: 0;
  font-size: 0.8125 rem;
  padding: 0.3125rem 0.625rem;
}
.group button {
  display: inline-block;
  border-width: 0;
  font-size: 0.8125rem;
  padding: 0.3125rem 0.625rem;
  background-color: coral;
  color: white;
}

.input-menu {
  border-radius: 1.875rem;
}

.tags {
  border-bottom: 1px solid gray;
}
.tags .tags__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  list-style: none;
}
.tags .tags__list .tags__list-items {
  padding: 2px 4px;
  background-color: steelblue;
  margin-right: 1px;
  color: white;
}

.header {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.logo {
  float: left;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav__items .nav__item-mt {
  margin-top: 0.2rem;
}

.newsletter {
  height: 9.375rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f4f5;
}
.newsletter h2 {
  font-size: 1.5rem;
  margin: 0;
}

.footer {
  width: 60rem;
  margin: 0 auto;
  text-align: center;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
}

.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media (min-width: 576px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 768px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-xl-12 {
    grid-column: span 12;
  }

  .col-xl-11 {
    grid-column: span 11;
  }

  .col-xl-10 {
    grid-column: span 10;
  }

  .col-xl-9 {
    grid-column: span 9;
  }

  .col-xl-8 {
    grid-column: span 8;
  }

  .col-xl-7 {
    grid-column: span 7;
  }

  .col-xl-6 {
    grid-column: span 6;
  }

  .col-xl-5 {
    grid-column: span 5;
  }

  .col-xl-4 {
    grid-column: span 4;
  }

  .col-xl-3 {
    grid-column: span 3;
  }

  .col-xl-2 {
    grid-column: span 2;
  }

  .col-xl-1 {
    grid-column: span 1;
  }
}
@media only screen and (max-width: 576px) {
  aside {
    display: none;
  }
}
.container {
  width: 90%;
  margin: auto;
}

.main__noticia {
  margin: 5px;
  cursor: pointer;
}

.main__noticia-card img {
  width: 100%;
}
.main__noticia-card p {
  padding: 0.3125rem 0.625rem;
}

@media (max-width: 576px) {
  .main__noticia-card img {
    width: 60%;
    margin: auto;
  }
}
.noticias-destacadas {
  margin-bottom: 3.125rem;
}
.noticias-destacadas img {
  widows: 220px;
  display: block;
  margin: auto;
}

@media (max-width: 768px) {
  aside {
    display: none;
  }
}