.group {
    input {
        display: inline-block;
        border-width: 0;
        font-size: 0.8125 rem;
        padding: 0.3125rem 0.625rem;
    }

    button {
        display: inline-block;
        border-width: 0;
        font-size: 0.8125rem;
        padding: 0.3125rem 0.625rem;
        background-color: coral;
        color: white;
    }

}