.nav {
    display: inline-block;
    width:100%;
    text-align: right;
    
    .nav__items {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        text-transform: uppercase;

        .nav__item a{
            text-decoration: none;
            margin-right: 1rem;
        }
    } 
}
@media (max-width: 776px) {
    .nav {
        
        
        .nav__items {
         
    
            .nav__item {
                .nosotros{
                    display: none;
                }
            }
        } 
    }
  }