

.noticias-destacadas {
    margin-bottom: 3.125rem;
    
    img {
        widows: 240px;
        display: block;
        margin: auto;
        
    }
}
@media (max-width: 776px) {
    aside {
      display: none;
    }
  }