.header {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid gray
}

.logo {
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav__items {

    .nav__item-mt {

        margin-top: 0.2rem;

    }

}